extends ../layouts/default.jade

block content
    main.main.about--content
        header.header
            .container
                h1.header__h1 About Azoic Ventures
                
        .container
            
            section.about
                .row
                    .col-xs-12
                        
                        
                .row
                    .col-xs-12.col-sm-12
                        .content__wrapper
                            .img__wrapper
                                img.img-responsive(
                                    src="/images/kh.png"
                                    )
                            p Kurt Holstein started Azoic Ventures in August 2011. He evaluates and manages all investments.

                            p Kurt co-founded Rosetta Marketing in 1998 and helped grow Rosetta into a top 10 U.S. digital agency. Rosetta was sold in July, 2011 to Publicis for $575 Million. Kurt led the operations and growth of Rosetta as its first COO and then as President of Rosetta's Communications, Technology & Media (CTM) and Healthcare verticals as well as the agency's Creative, Financial and IT functions. Kurt also led the structuring and execution of Rosetta's four major acquisitions including SimStar (2005), Brulant (2008), Wishbone (2009) and Level Studios (2010) as well as two major financing rounds and the sale of a majority interest to a private equity firm, Lindsay Goldberg, in 2007. 

                            p Prior to starting Rosetta, Kurt spent 16 years at Procter & Gamble where he worked in Brand Management helping build many of P&G's major consumer health care brands like Crest, Scope, and Pepto-Bismol as well as several of P&G's pharmaceutical brands.

                            p Kurt frequently speaks at industry events as well as guest lectures at both the Engineering School and Johnson School of Management at Cornell University. He received his BS in Operations Research and Industrial Engineering from Cornell University in 1982.
