extend ../layouts/default.jade

block content
    main.main.main--boards

        .container
            .header.header--boards
                    h1.header__h1 Boards
                    p In addition to providing advisory services, Mr. Holstein also sits on the Board of Directors of industry leading companies including:
                        
            include ../components/flex-gallery.jade
