extend ../layouts/default.jade

block content
    main.main.main--boards

        .container
            .header.header--boards
                    h1.header__h1 Boards
        
        section.boards__wrapper
            .container.copy-lead
                .row
                    .col-sm-6.col-sm-offset-3
                        p In addition to providing advisory services, Mr. Holstein also sits on the Board of Directors of industry leading companies including:
            .container
                .row
                    each company, i in locals.boards
                        .col-sm-4
                            .boards__img__wrapper
                                a(href="/boards/#{company.slug}")
                                    img.img-responsive(src="#{company.image.url}")
                        if i !== 0 && (i + 1) % 3 == 0
                            .clearfix 
