extends ../layouts/default

block content
	main.main.main--home
		div.container        
			div.row
				div.col-sm-12
					div.header--main.header--ny.text-center
						div.header--main.header--ny__content-container.text-center
							h1.header--ny__h1 Azoic Ventures
							p.header--ny__lead Bringing early stage companies to life
							a.primary(href="contact") Get in touch
	
		include ../components/slider
