extend ../layouts/default.jade

block content
    main.main.main--investments

        .container
            .header.header--investments
                    h1.header__h1 Investments
        
        section.investments__wrapper
            .container
                .row
                    each company in locals.investments
                        .col-sm-4
                            .investments__img__wrapper
                                a(href="/investments/#{company.title}")
                                    img.img-responsive(src="#{company.image.url}")
