@import 'https://fonts.googleapis.com/css?family=Playfair+Display';
@import 'https://fonts.googleapis.com/css?family=Fauna+One';

$font-size-base: 16px;
$heading-font: 'Playfair Display', serif;
$body-font:  'Fauna One', serif;
