@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Istok+Web';

$font-size-base: 16px;
$heading-font: 'Montserrat';
$body-font: 'Istok Web';
