section.gallery__wrapper
    .container
        .flex-row
            each company, i in locals.investments
                .flex-item
                    .gallery__img__wrapper
                        a(href="/investments/#{company.title}")
                            img.center-block.gallery__img(src="#{company.image.url}")
                if i !== 0 && (i + 1) % 2 == 0
                    .clearfix.visible-xs 
                if i !== 0 && (i + 1) % 3 == 0
                    .clearfix.hidden-xs 
