.swiper__wrapper
    .container
        .swiper-container
            .swiper-wrapper
                each company in locals.investments
                    .swiper-slide(data-hash="#{company.name}")
                        a(href="/investments/#{company.title}")
                            img(src="#{company.image.url}",
                             alt="") 
                
            .swiper-pagination
            .swiper-button-next
            .swiper-button-prev
