div.swiper-container
    div.swiper-wrapper
        each company in locals.investments
            div.swiper-slide(data-hash="#{company.name}")
                a(href="/investments/#{company.name}")
                    img(src="/images/companies/#{company.title}.png",
                     alt="") 
        
    div.swiper-pagination
    div.swiper-button-next
    div.swiper-button-prev
