.header {
    background-color: transparent;
    margin-bottom: 24px;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.header h1.header__h1 {
    margin: 0 0 6px 0;
    color: #444;
    font-family: $heading-font;

}
