p {
    font-size: 16px;
    color: $body-font-color;
}

.main.main--home {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    .container {
        @extend .main.main--home;
    }
}

footer#footer {
    position: absolute;
    bottom: 0;
}

.main--about .content__wrapper {
    @include box-shadow(2px)
    border: 1px solid $light-grey;
    padding: 25px;
}

.main--about .img__wrapper {
    float: left;
    margin: 0 15px 15px 0;
}
