button.primary,
a.primary {
    display: inline-block;
    background-color: $secondary-1-2;
    border: 2px solid $secondary-1-2;
    padding: 10px 16px;
    color: $secondary-1-4;
    font-weight: bold;
    font-size: $font-size-base * 1.1;
    margin-top: $base-margin;
    transition: all ease 0.5s;

    &:hover {
        background-color: $secondary-1-3;
        border: 2px solid $secondary-1-3;
        color: $secondary-1-2;
        text-decoration: none;
    }
}
